body {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
}

.container-fluid {
text-align: center;
padding:0px;
}

#header img {
	min-width:12em;
	height: 12em;
	width: 24%;
	margin-bottom: 0.06rem;
	border: 0.2rem solid black;
	display:inline;
	border-radius: 1rem;
}

nav {
    overflow: hidden;
    background-color: black;
	background: -webkit-linear-gradient(to right, white, black);  
    background: linear-gradient(to right, white, black); 
    font-family: Cursive;
	height: 5.3rem;
}

.container-fluid a {
    float: left;
    font-size: 2rem;
    color: black;
	background: gray; 
    background: -webkit-linear-gradient(to right, black, white, black);  
    background: linear-gradient(to right, black, white, black); 	
	text-align: center;
    padding: 1.14rem 1rem;
    text-decoration: none;
	border-radius: 1.25rem;
}

#main {
	background:black;
}

carousel {
  height:40rem;
}

.carousel-inner img {
	height:40rem !important;
	width: 82rem !important;
	border: 0.125rem solid black;
	border-radius: 20%;
	margin: auto;
}

footer {
    background: linear-gradient(to right,white, black, white); 
	border-top: 0.125rem solid black;
	font-family: Cursive;
	color: black;
	height: 4 rem;	
}

footer p {
	float: left;
	margin-top: 0.625rem;
}

footer iframe {
	height:2rem;
	width:11rem;
	border-radius: 0.625rem;
}

#social {
	float: right;
}
