body {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
}

.container-fluid {
text-align: center;
padding:0px;
}

#header img {
	min-width:12em;
	height: 12em;
	width: 24%;
	margin-bottom: 0.06rem;
	border: 0.2rem solid black;
	display:inline;
	border-radius: 1rem;
}

nav {
    overflow: hidden;
    background-color: black;
	background: -webkit-linear-gradient(to right, white, black);  
    background: linear-gradient(to right, white, black); 
    font-family: Cursive;
	height: 5rem;
}

.container-fluid a {
    float: left;
    font-size: 2rem;
    color: black;
	background: gray; 
    background: -webkit-linear-gradient(to right, black, white, black);  
    background: linear-gradient(to right, black, white, black); 	
	text-align: center;
    padding: 1.14rem 1rem;
    text-decoration: none;
	border-radius: 1.25rem;
}

.col-sm-8 {
	height: 40rem;
	font-Family: Cursive;
	Font-size: 1.6rem;
	text-align: center;
	background-image: url("homeback1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position:center;
    box-sizing: border-box;
	padding: 3.125rem 1.25rem;
	border: 0.125rem solid black;
	border-bottom: 0px;
	border-radius: 1.5rem;	
	color: black;
}

.text1 {
	margin: 2rem;
	
}

.col-sm-4 {
	height:40rem;
	background-image: url("logo7.jpg");
    background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position:center;
	border-radius: 1.5rem;
	box-sizing: border-box;
}

footer {
    background: linear-gradient(to right,white, black, white); 
	border-top: 0.125rem solid black;
	font-family: Cursive;
	color: black;
	height: 4 rem;	
}

footer p {
	float: left;
	margin-top: 0.625rem;
}

footer iframe {
	height:2rem;
	width:11rem;
	border-radius: 0.625rem;
}

#social {
	float: right;
}



